In [295]:
import pandas as pd

# **데이터 구조**

- Pandas Series	vs Pandas DataFrame

- Pandas Series
 - One-dimensional
 - Homogenous – Series elements must be of the same data type.
 - Size-immutable – Once created, the size of a Series object cannot be changed.	Size-mutable.

- Pandas DataFrame
 - Two-dimensional
 - Heterogenous – DataFrame elements can have different data types. Size-immutable.
 - Elements can be dropped or added in an existing DataFrame.

### **Series**
- ##### pandas에서 사용하기 적합한 구조

- ##### Series 생성

pd.Series(data=None, index=None, dtype=None, name=None, copy=False)

In [296]:
data = {'a':1, 'b':2, 'c':3}
pd.Series(data=data, dtype=np.int16, name='dict')

a    1
b    2
c    3
Name: dict, dtype: int16

In [297]:
pd.Series(5.0, index=['a','b','c','d','e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [298]:
s=pd.Series(data=np.random.randn(5), index=['a','b','c','d','e'])

In [299]:
s1=pd.Series(data=np.random.randint(-100,100,5), index=['a','b','c','d','e'])

##### 슬라이싱/인덱싱

In [300]:
s

a    0.885585
b    1.374113
c    0.782337
d    0.081137
e   -0.018551
dtype: float64

In [301]:
s1

a   -77
b    71
c    57
d    18
e    40
dtype: int64

In [302]:
s[[4,3,2]]

e   -0.018551
d    0.081137
c    0.782337
dtype: float64

In [303]:
lst=[4,3,2]

# ------
# 작업
# ------

s[lst]

e   -0.018551
d    0.081137
c    0.782337
dtype: float64

In [304]:
s1[lst]

e    40
d    18
c    57
dtype: int64

- ##### numpy로 변환

In [305]:
s.to_numpy()

array([ 0.88558546,  1.37411326,  0.78233658,  0.08113722, -0.01855129])

### **DataFrame**
- ##### 2차원 구조로 되어 있는 행렬 데이터터

##### DataFrame 생성

In [306]:
data={
    'one':pd.Series(data=np.random.randn(5), index=['a','b','c','d','e']),
    'tow':pd.Series(data=np.random.randn(4), index=['a','b','c','d']),
    'three':pd.Series(data=3, index=['a','b','c'])
}
df=pd.DataFrame(data=data)
df

        one       tow  three
a -1.554618  0.619166    3.0
b  1.072018 -0.371317    3.0
c -0.554818 -0.024773    3.0
d  0.796671  0.199687    NaN
e  0.678543       NaN    NaN

In [307]:
df.index, df.columns

(Index(['a', 'b', 'c', 'd', 'e'], dtype='object'),
 Index(['one', 'tow', 'three'], dtype='object'))

In [308]:
data2=[{'a':1, 'b':2},{'a':5, 'b':10, 'c':20}]
pd.DataFrame(data=data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [309]:
pd.DataFrame(data=data2, index=['one','two'])

     a   b     c
one  1   2   NaN
two  5  10  20.0

In [310]:
ser=pd.Series(range(10), index=list('qiakslsnfo'), name='ser')
pd.DataFrame(ser)

   ser
q    0
i    1
a    2
k    3
s    4
l    5
s    6
n    7
f    8
o    9

In [311]:
data={'col_1':[1,2,3,4], 'col_2':[1,2,3,4]}
df=pd.DataFrame.from_dict(data)
df

   col_1  col_2
0      1      1
1      2      2
2      3      3
3      4      4

In [312]:
data={'row_1':[3,2,1,0], 'row_2':list('abcd')}
df=pd.DataFrame.from_dict(data, orient='index', columns=list("ABCD"))
df

       A  B  C  D
row_1  3  2  1  0
row_2  a  b  c  d

##### 데이터 변환
- ### pd.DataFrame.to_dict()
- ### pd.DataFrame.to_parquet()
- ### pd.DataFrame.to_csv()
- ### pd.DataFrame.to_excel()

In [313]:
#data frame to dict
df.to_dict('series')

{'A': row_1    3
 row_2    a
 Name: A, dtype: object, 'B': row_1    2
 row_2    b
 Name: B, dtype: object, 'C': row_1    1
 row_2    c
 Name: C, dtype: object, 'D': row_1    0
 row_2    d
 Name: D, dtype: object}

df.to_json()

In [314]:
df.to_json()

'{"A":{"row_1":3,"row_2":"a"},"B":{"row_1":2,"row_2":"b"},"C":{"row_1":1,"row_2":"c"},"D":{"row_1":0,"row_2":"d"}}'

In [315]:
df.to_json(orient='records')

'[{"A":3,"B":2,"C":1,"D":0},{"A":"a","B":"b","C":"c","D":"d"}]'

In [316]:
df

       A  B  C  D
row_1  3  2  1  0
row_2  a  b  c  d

In [317]:
data={
    'one':pd.Series(data=np.random.randn(5), index=['a','b','c','d','e']),
    'tow':pd.Series(data=np.random.randn(4), index=['a','b','c','d']),
    'three':pd.Series(data=3, index=['a','b','c'])
}
df=pd.DataFrame(data=data)
df

        one       tow  three
a -1.407568  1.765010    3.0
b  0.678441  1.893600    3.0
c  0.879086  0.049326    3.0
d -0.907569 -0.929225    NaN
e -0.634498       NaN    NaN

In [318]:
list(df['one']>0)

[False, True, True, False, False]

In [319]:
df['flag']=df['one']>0
df

        one       tow  three   flag
a -1.407568  1.765010    3.0  False
b  0.678441  1.893600    3.0   True
c  0.879086  0.049326    3.0   True
d -0.907569 -0.929225    NaN  False
e -0.634498       NaN    NaN  False

In [320]:
df['flag']=df['one'][df['one']>0]
df

        one       tow  three      flag
a -1.407568  1.765010    3.0       NaN
b  0.678441  1.893600    3.0  0.678441
c  0.879086  0.049326    3.0  0.879086
d -0.907569 -0.929225    NaN       NaN
e -0.634498       NaN    NaN       NaN

##### 컬럼 선택, 추가, 삭제

- 열은 del / pop 를 사용할 수 있다.

In [321]:
del df['tow']
df

        one  three      flag
a -1.407568    3.0       NaN
b  0.678441    3.0  0.678441
c  0.879086    3.0  0.879086
d -0.907569    NaN       NaN
e -0.634498    NaN       NaN

In [322]:
three=df.pop('three')
three
df

        one      flag
a -1.407568       NaN
b  0.678441  0.678441
c  0.879086  0.879086
d -0.907569       NaN
e -0.634498       NaN

In [323]:
df['foo']='bar'
df['coo']=3
df

        one      flag  foo  coo
a -1.407568       NaN  bar    3
b  0.678441  0.678441  bar    3
c  0.879086  0.879086  bar    3
d -0.907569       NaN  bar    3
e -0.634498       NaN  bar    3

In [324]:
df['one_trunc']=df['one'][:2]
df

        one      flag  foo  coo  one_trunc
a -1.407568       NaN  bar    3  -1.407568
b  0.678441  0.678441  bar    3   0.678441
c  0.879086  0.879086  bar    3        NaN
d -0.907569       NaN  bar    3        NaN
e -0.634498       NaN  bar    3        NaN

In [325]:
df['bar']=df['one']
df.columns = ['one','bar','flag','foo','coo','one_trunc']
print(df)
df.columns = ['one','bar','one_trunc','flag','foo','coo']
print(df)

        one       bar flag  foo       coo  one_trunc
a -1.407568       NaN  bar    3 -1.407568  -1.407568
b  0.678441  0.678441  bar    3  0.678441   0.678441
c  0.879086  0.879086  bar    3       NaN   0.879086
d -0.907569       NaN  bar    3       NaN  -0.907569
e -0.634498       NaN  bar    3       NaN  -0.634498
        one       bar one_trunc  flag       foo       coo
a -1.407568       NaN       bar     3 -1.407568 -1.407568
b  0.678441  0.678441       bar     3  0.678441  0.678441
c  0.879086  0.879086       bar     3       NaN  0.879086
d -0.907569       NaN       bar     3       NaN -0.907569
e -0.634498       NaN       bar     3       NaN -0.634498

- index 단위로 insert

In [326]:
df.insert(1, 'bar', df['one'])
df
# index 1 자리에에 / 'bar' 열 추가 / 값은 df['one']

ValueError: ignored

##### 데이터 선택

In [327]:
import seaborn as sns

In [328]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [329]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

- isin()

In [330]:
cond = iris['petal_length'].isin([1.4,1.3])
iris[cond][:5]
#iris[~cond]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
6           4.6          3.4           1.4          0.3  setosa

In [331]:
cond = iris[['sepal_length'	,'petal_length']].isin([1.4,1.3,1.5,1.7])
iris[cond]

     sepal_length  sepal_width  petal_length  petal_width species
0             NaN          NaN           1.4          NaN     NaN
1             NaN          NaN           1.4          NaN     NaN
2             NaN          NaN           1.3          NaN     NaN
3             NaN          NaN           1.5          NaN     NaN
4             NaN          NaN           1.4          NaN     NaN
..            ...          ...           ...          ...     ...
145           NaN          NaN           NaN          NaN     NaN
146           NaN          NaN           NaN          NaN     NaN
147           NaN          NaN           NaN          NaN     NaN
148           NaN          NaN           NaN          NaN     NaN
149           NaN          NaN           NaN          NaN     NaN

[150 rows x 5 columns]

- iloc
> 행번호를 통해 행 데이터를 가져온온다.

In [332]:
iris.iloc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [335]:
iris.iloc[[1,2,-1]]

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
149           5.9          3.0           5.1          1.8  virginica

In [334]:
iris.iloc[:,:3]

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [333]:
iris.iloc[[1,4], [1,2]]

   sepal_width  petal_length
1          3.0           1.4
4          3.6           1.4

- loc
> 라벨로 필터링

In [336]:
iris.loc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [337]:
iris.loc[[1,2,3]]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

- 행과 열 조회

In [338]:
iris.loc[:4].shape

(5, 5)

In [339]:
iris.loc[:,['sepal_length', 'sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [340]:
iris.loc[[1,4],['sepal_width', 'petal_length']]

   sepal_width  petal_length
1          3.0           1.4
4          3.6           1.4

In [341]:
iris.iloc[:5,:3]

   sepal_length  sepal_width  petal_length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [342]:
iris.loc[:5,['sepal_width', 'petal_length']]

   sepal_width  petal_length
0          3.5           1.4
1          3.0           1.4
2          3.2           1.3
3          3.1           1.5
4          3.6           1.4
5          3.9           1.7

In [343]:
iris.loc[:5,['sepal_width', 'petal_length']].shape

(6, 2)

##### 마스킹을 이용한 다중 조건

 - and : & , or : | , not : ~

In [344]:
mask = iris['sepal_length'] < 5.0
iris.loc[mask].head()

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
6           4.6          3.4           1.4          0.3  setosa
8           4.4          2.9           1.4          0.2  setosa

In [345]:
mask1=iris['sepal_length']<5.0
mask2=iris['sepal_width']>3.0
mask= mask1 & mask2

iris.loc[mask]

    sepal_length  sepal_width  petal_length  petal_width species
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
9            4.9          3.1           1.5          0.1  setosa
11           4.8          3.4           1.6          0.2  setosa
22           4.6          3.6           1.0          0.2  setosa
24           4.8          3.4           1.9          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
42           4.4          3.2           1.3          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa

In [346]:
mask1=iris['sepal_length']<5.0
mask2=iris['sepal_width']>3.0
mask= mask1 | mask2

iris.loc[mask]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
148           6.2          3.4           5.4          2.3  virginica

[76 rows x 5 columns]

In [347]:
mask1=iris['sepal_length']<5.0
mask2=iris['sepal_width']>3.0
mask= ~ (mask1 & mask2)

iris.loc[~mask1] + iris.loc[mask2]

     sepal_length  sepal_width  petal_length  petal_width             species
0            10.2          7.0           2.8          0.4        setosasetosa
2             NaN          NaN           NaN          NaN                 NaN
3             NaN          NaN           NaN          NaN                 NaN
4            10.0          7.2           2.8          0.4        setosasetosa
5            10.8          7.8           3.4          0.8        setosasetosa
..            ...          ...           ...          ...                 ...
145           NaN          NaN           NaN          NaN                 NaN
146           NaN          NaN           NaN          NaN                 NaN
147           NaN          NaN           NaN          NaN                 NaN
148          12.4          6.8          10.8          4.6  virginicavirginica
149           NaN          NaN           NaN          NaN                 NaN

[141 rows x 5 columns]

##### 데이터 형식에 기반한 열 선택

In [348]:
iris.select_dtypes(include=np.number)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [349]:
iris.select_dtypes(include='float64')

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [350]:
iris.select_dtypes(exclude=np.number)

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

# 추가 공부

### Concat

- #### DataFrame 결합

In [351]:
df1 = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                    'B': ['B1', 'B2', 'B3'],
                    'C': ['C1', 'C2', 'C3']},
                   index=['ONE', 'TWO', 'THREE'])
print('df1',df1,sep='\n')

print('-'*30)
df2 = pd.DataFrame({'C': ['C2', 'C3', 'C4'],
                    'D': ['D2', 'D3', 'D4']},
                   index=['TWO', 'THREE', 'FOUR'])
print('df2',df2,sep='\n')
print('-'*30)
s1 = pd.Series(['X1', 'X2', 'X3'], index=['ONE', 'TWO', 'THREE'], name='X')
print('s1',s1,sep='\n')
print('-'*30)
s2 = pd.Series(['Y2', 'Y3', 'Y4'], index=['TWO', 'THREE', 'FOUR'], name='Y')
print('s2',s2,sep='\n')

df1
        A   B   C
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3
------------------------------
df2
        C   D
TWO    C2  D2
THREE  C3  D3
FOUR   C4  D4
------------------------------
s1
ONE      X1
TWO      X2
THREE    X3
Name: X, dtype: object
------------------------------
s2
TWO      Y2
THREE    Y3
FOUR     Y4
Name: Y, dtype: object

In [352]:
df3=pd.DataFrame(s1)
print(df1+df2+df3)

        A   B    C   D    X
FOUR  NaN NaN  NaN NaN  NaN
ONE   NaN NaN  NaN NaN  NaN
THREE NaN NaN  NaN NaN  NaN
TWO   NaN NaN  NaN NaN  NaN

In [353]:
df_concat = pd.concat([df1, df2])
print(df_concat)

         A    B   C    D
ONE     A1   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4

In [354]:
df_concat_multi = pd.concat([df1, df2, df1])
print(df_concat_multi)

         A    B   C    D
ONE     A1   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4
ONE     A1   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN

In [355]:
df_v = pd.concat([df1, df2], axis=0)
print(df_v)
print('-'*30)
df_h = pd.concat([df1, df2], axis=1)
print(df_h)

         A    B   C    D
ONE     A1   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4
------------------------------
         A    B    C    C    D
ONE     A1   B1   C1  NaN  NaN
TWO     A2   B2   C2   C2   D2
THREE   A3   B3   C3   C3   D3
FOUR   NaN  NaN  NaN   C4   D4

#### Series 결합

In [356]:
s1 = pd.Series(['X1', 'X2', 'X3'], index=['ONE', 'TWO', 'THREE'], name='X')

s2 = pd.Series(['Y2', 'Y3', 'Y4'], index=['TWO', 'THREE', 'FOUR'], name='Y')

s_v = pd.concat([s1, s2])
print(s_v)
print(type(s_v))
print('-'*30)
s_h = pd.concat([s1, s2], axis=1)
print(s_h)
print(type(s_h))

ONE      X1
TWO      X2
THREE    X3
TWO      Y2
THREE    Y3
FOUR     Y4
dtype: object
<class 'pandas.core.series.Series'>
------------------------------
         X    Y
ONE     X1  NaN
TWO     X2   Y2
THREE   X3   Y3
FOUR   NaN   Y4
<class 'pandas.core.frame.DataFrame'>

#### DataFrame과 Series 결합

In [357]:
#세로
df_s_v = pd.concat([df1, s2])
print(df_s_v)
print('-'*30)
#가로
df_s_h = pd.concat([df1, s2], axis=1)
print(df_s_h)

         A    B    C    0
ONE     A1   B1   C1  NaN
TWO     A2   B2   C2  NaN
THREE   A3   B3   C3  NaN
TWO    NaN  NaN  NaN   Y2
THREE  NaN  NaN  NaN   Y3
FOUR   NaN  NaN  NaN   Y4
------------------------------
         A    B    C    Y
ONE     A1   B1   C1  NaN
TWO     A2   B2   C2   Y2
THREE   A3   B3   C3   Y3
FOUR   NaN  NaN  NaN   Y4

In [358]:
ddd=pd.concat([df1,df2,s1, s2], axis=0)
print(ddd)
ddd=pd.concat([df1,df2, s1], axis=0)
print(ddd)

         0    A    B    C    D
ONE    NaN   A1   B1   C1  NaN
TWO    NaN   A2   B2   C2  NaN
THREE  NaN   A3   B3   C3  NaN
TWO    NaN  NaN  NaN   C2   D2
THREE  NaN  NaN  NaN   C3   D3
FOUR   NaN  NaN  NaN   C4   D4
ONE     X1  NaN  NaN  NaN  NaN
TWO     X2  NaN  NaN  NaN  NaN
THREE   X3  NaN  NaN  NaN  NaN
TWO     Y2  NaN  NaN  NaN  NaN
THREE   Y3  NaN  NaN  NaN  NaN
FOUR    Y4  NaN  NaN  NaN  NaN
         A    B    C    D    0
ONE     A1   B1   C1  NaN  NaN
TWO     A2   B2   C2  NaN  NaN
THREE   A3   B3   C3  NaN  NaN
TWO    NaN  NaN   C2   D2  NaN
THREE  NaN  NaN   C3   D3  NaN
FOUR   NaN  NaN   C4   D4  NaN
ONE    NaN  NaN  NaN  NaN   X1
TWO    NaN  NaN  NaN  NaN   X2
THREE  NaN  NaN  NaN  NaN   X3

### Merge
> merge() : 첫 번째 파라미터로 left, 두 번째 파라미터로 right를 지정, 합치고 싶은 2개의 DataFrame를 설정

In [359]:
import pandas as pd

In [364]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3'], 'b': ['b_1', 'b_2', 'b_3']})
df_ab = df_ab.set_index(['a'])

df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4'], 'c': ['c_1', 'c_2', 'c_4']})
print(pd.merge(df_ab, df_ac, right_on='a', left_index=True))

In [366]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3'], 'b': ['b_1', 'b_2', 'b_3']})
df_ab = df_ab.set_index(['a'])

df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4'], 'c': ['c_1', 'c_2', 'c_4']})
df_ac = df_ac.set_index(['a'])
print(pd.merge(df_ab, df_ac,left_index=True, right_index=True))

       b    c
a
a_1  b_1  c_1
a_2  b_2  c_2

In [367]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']}) 

df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']}) 
print(pd.merge(df_ab, df_ac))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [368]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']}) 

df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})
print(df_ab.merge(df_ac))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

 - on, left_on, right_on

In [369]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']}) 
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']}) 
                     
print(pd.merge(df_ab, df_ac, on='a'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [380]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']}) 
                     
df_ac = pd.DataFrame({'a_': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_ac, left_on='a', right_on='a_'))

     a    b   a_    c
0  a_1  b_1  a_1  c_1
1  a_2  b_2  a_2  c_2

In [381]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_ac = pd.DataFrame({'a_': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_ac_, left_on='a', right_on='a_').drop(columns='a_'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

- how

In [382]:
# 내부 결합 (inner_join): how='inner'
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})

print(pd.merge(df_ab, df_ac, on='a', how='inner'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [383]:
# 왼쪽 결합 (left_join): how='left'
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_ac, on='a', how='left'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_3  b_3  NaN

In [384]:
# 오른쪽 결합 (right_join): how='right'
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_ac, on='a', how='right'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_4  NaN  c_4

In [385]:
# 외부 결합 (outer_join): how='outer'
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_ac, on='a', how='outer'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_3  b_3  NaN
3  a_4  NaN  c_4

- indicator

In [386]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})

print(pd.merge(df_ab, df_ac, on='a', how='inner', indicator=True))
print('---------------------------')
print(pd.merge(df_ab, df_ac, on='a', how='outer', indicator=True))

     a    b    c _merge
0  a_1  b_1  c_1   both
1  a_2  b_2  c_2   both
---------------------------
     a    b    c      _merge
0  a_1  b_1  c_1        both
1  a_2  b_2  c_2        both
2  a_3  b_3  NaN   left_only
3  a_4  NaN  c_4  right_only

In [387]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'c': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_ac, on='a', how='outer', indicator='indicator'))

     a    b    c   indicator
0  a_1  b_1  c_1        both
1  a_2  b_2  c_2        both
2  a_3  b_3  NaN   left_only
3  a_4  NaN  c_4  right_only

- suffixes

In [396]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_b = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_b, on='a'))

     a  b_x  b_y
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [397]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']})
                     
df_b = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']})
                     
print(pd.merge(df_ab, df_b, on='a', suffixes=['_left', '_right']))

     a b_left b_right
0  a_1    b_1     c_1
1  a_2    b_2     c_2

- 여러개 키를 지정

In [398]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']
                     , 'x':['x_2', 'x_2', 'x_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']
                     , 'x':['x_1', 'x_2', 'x_2']})
                     
print(pd.merge(df_ab, df_ac, on='a'))

     a  b_x  x_x  b_y  x_y
0  a_1  b_1  x_2  c_1  x_1
1  a_2  b_2  x_2  c_2  x_2

In [399]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']
                     , 'x':['x_2', 'x_2', 'x_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']
                     , 'x':['x_1', 'x_2', 'x_2']})
                     
print(pd.merge(df_ab, df_ac))
print('---------------------------')
print(pd.merge(df_ab, df_ac, on=['a', 'x']))

Empty DataFrame
Columns: [a, b, x]
Index: []
---------------------------
     a  b_x    x  b_y
0  a_2  b_2  x_2  c_2

In [400]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']
                     , 'x':['x_2', 'x_2', 'x_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']
                     , 'x':['x_1', 'x_2', 'x_2']})
                     
print(pd.merge(df_ab, df_ac, on='a'))

     a  b_x  x_x  b_y  x_y
0  a_1  b_1  x_2  c_1  x_1
1  a_2  b_2  x_2  c_2  x_2

In [394]:
# DataFrame 컬럼명이 다른 열을 키로 사용하고 싶은 경우 left_on, right_on에 리스트 형태로 컬럼명을 설정
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']
                     , 'x':['x_2', 'x_2', 'x_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']
                     , 'x_':['x_1', 'x_2', 'x_2']})
                     
print(pd.merge(df_ab, df_ac, left_on=['a', 'x'], right_on=['a', 'x_']))

     a  b_x    x  b_y   x_
0  a_2  b_2  x_2  c_2  x_2

In [404]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']
                     , 'x':['x_2', 'x_2', 'x_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']
                     , 'x':['x_1', 'x_2', 'x_2']})
                     
print(pd.merge(df_ab, df_ac, on=['a', 'x'], how='inner')) 
print('---------------------------')
print(pd.merge(df_ab, df_ac, on=['a', 'x'], how='left')) 
print('---------------------------')
print(pd.merge(df_ab, df_ac, on=['a', 'x'], how='right')) 
print('---------------------------')
print(pd.merge(df_ab, df_ac, on=['a', 'x'], how='outer'))

     a  b_x    x  b_y
0  a_2  b_2  x_2  c_2
---------------------------
     a  b_x    x  b_y
0  a_1  b_1  x_2  NaN
1  a_2  b_2  x_2  c_2
2  a_3  b_3  x_3  NaN
---------------------------
     a  b_x    x  b_y
0  a_1  NaN  x_1  c_1
1  a_2  b_2  x_2  c_2
2  a_4  NaN  x_2  c_4
---------------------------
     a  b_x    x  b_y
0  a_1  b_1  x_2  NaN
1  a_2  b_2  x_2  c_2
2  a_3  b_3  x_3  NaN
3  a_1  NaN  x_1  c_1
4  a_4  NaN  x_2  c_4

- sort

In [406]:
df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3']
                     , 'b': ['b_1', 'b_2', 'b_3']
                     , 'x':['x_2', 'x_2', 'x_3']})
                     
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4']
                     , 'b': ['c_1', 'c_2', 'c_4']
                     , 'x':['x_1', 'x_2', 'x_2']})
                     
print(pd.merge(df_ab, df_ac, on=['a', 'x'], how='outer', sort=True))

     a  b_x    x  b_y
0  a_1  NaN  x_1  c_1
1  a_1  b_1  x_2  NaN
2  a_2  b_2  x_2  c_2
3  a_3  b_3  x_3  NaN
4  a_4  NaN  x_2  c_4